In [24]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

titanic_df = pd.read_csv("titanic.csv")
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
titanic_df["Sex"] = class_labels.fit_transform(titanic_df["Sex"].values)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [2]:
X = titanic_df[["Sex", "P_class"]]
y = titanic_df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

NameError: name 'titanic_df' is not defined

In [27]:
regression = LogisticRegression(random_state = 42).fit(X_train, y_train)
y_predicted = regression.predict(X_test)
y_predicted

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1])

I chose a logistic regression model for prediction because the passengers either died or survived. The results are binary, and the survived number can't between 0 and 1. Also, any other model that is continuous wouldn't work because these results require set values of either 0 and 1.

In [7]:
def precision_and_recall(calc_type:str, tp: int, tn: int, fp: int, fn: int) -> float:
    """
    This function produces precision or recall based on what is passed in
    """
    if calc_type == "precision":
        value = tp / (tp + fp)
        # false positives are where we predicted someone would have a condition and they actually don't
        return value
    elif calc_type == "recall":
        value = tp / (tp + fn)
        # false negatives are where we predicted someone would not have a condition and they actually do
        return value
    elif calc_type == "accuracy":
        value = (tp + tn) / (tp + tn + fp + fn)
        # false negatives are where we predicted someone would not have a condition and they actually do
    else:
        error_msg = "Something happened here. Check your input"
        return error_msg

In [5]:
precision_and_recall("precision", 89, 51, 21, 18)

0.8090909090909091

In [4]:
precision_and_recall("recall", 89, 51, 21, 18)

0.8317757009345794

In [10]:
precision_and_recall("accuracy", 89, 51, 21, 18)

Accuracy would be the best choice for titanic dataset because the people are already dead.

The train/test split helps the machine split the data into 2 parts. The train data set is the formula used so the machine can help predict the values. The test data set is used to actually predict the new data based on the training data set.