In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

credit_df = pd.read_csv("Credit_card.csv")
credit_df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2

In [50]:
label_df = pd.read_csv("Credit_card_label.csv")
label_df.head()

    Ind_ID  label
0  5008827      1
1  5009744      1
2  5009746      1
3  5009749      1
4  5009752      1

In [51]:
credit_df = pd.merge(credit_df, label_df, on = "Ind_ID", how = "outer")
credit_df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2,1
1,5008865,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761.0,-3173,1,0,0,0,Laborers,4,0
2,5008889,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016.0,-1347,1,0,0,0,Core staff,1,0
3,5009000,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-9927.0,-828,1,0,0,0,Drivers,2,0
4,5009023,F,N,Y,2,216000.0,State servant,Higher education,Married,House / apartment,-15444.0,-3112,1,0,0,1,NaN,4,0

In [52]:
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()

credit_df["Annual_income"] = credit_df["Annual_income"].fillna(credit_df["Annual_income"].median())
credit_df["GENDER"] = class_labels.fit_transform(credit_df["GENDER"].values)
credit_df["Car_Owner"] = class_labels.fit_transform(credit_df["Car_Owner"].values)
credit_df["Propert_Owner"] = class_labels.fit_transform(credit_df["Propert_Owner"].values)
credit_df["Marital_status"] = class_labels.fit_transform(credit_df["Marital_status"].values)

# New changes
credit_df["EDUCATION"] = class_labels.fit_transform(credit_df["EDUCATION"].values)
credit_df["Housing_type"] = class_labels.fit_transform(credit_df["Housing_type"].values)
credit_df["Type_Income"] = class_labels.fit_transform(credit_df["Type_Income"].values)
credit_df["Type_Occupation"] = class_labels.fit_transform(credit_df["Type_Occupation"].values)
credit_df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,label
0,5008827,1,1,1,0,180000.0,1,1,1,1,-18772.0,365243,1,0,0,0,18,2,1
1,5008865,0,1,1,2,135000.0,3,4,1,1,-15761.0,-3173,1,0,0,0,8,4,0
2,5008889,0,0,1,0,247500.0,0,1,2,4,-17016.0,-1347,1,0,0,0,3,1,0
3,5009000,1,1,1,0,157500.0,3,4,1,1,-9927.0,-828,1,0,0,0,4,2,0
4,5009023,0,0,1,2,216000.0,2,1,1,1,-15444.0,-3112,1,0,0,1,18,4,0

In [53]:
credit_df.columns

Index(['Ind_ID', 'GENDER', 'Car_Owner', 'Propert_Owner', 'CHILDREN',
       'Annual_income', 'Type_Income', 'EDUCATION', 'Marital_status',
       'Housing_type', 'Birthday_count', 'Employed_days', 'Mobile_phone',
       'Work_Phone', 'Phone', 'EMAIL_ID', 'Type_Occupation', 'Family_Members',
       'label'],
      dtype='object')

In [54]:
credit_df["label"].value_counts()

label
0    1373
1     175
Name: count, dtype: int64

# Oversampling

In [55]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = credit_df.drop("label", axis = 1)
y = credit_df["label"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42, stratify = y)

In [56]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state = 42)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [57]:
model = LogisticRegression(random_state = 42)
model.fit(X_resampled, y_resampled)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

# #5
Outlier detection is when there are certain data points that seem out of the ordinary compared to the rest of the data. They are basically outliers. This can cause problems because they can positively or negatively skew the data set. It can make the data seem what it is not like. What are methods to solve this?